<div class="feature-grid">
  <h2>Downloads</h2>
  <div class="feature-cards">
    <a href="https://github.com/maize-genetics/tassel/releases/download/v5.2.98/TASSEL.5.Installer-mac-arm64-5.2.98_26DT.tgz" class="feature-card">
      <i class="fa fa-apple fa-2x"></i>
      <strong>macOS (Apple Silicon)</strong>
    </a>
    <a href="https://github.com/maize-genetics/tassel/releases/download/v5.2.98/TASSEL.5.Installer-mac-x64-5.2.98_26DT.tgz" class="feature-card">
      <i class="fa fa-apple fa-2x"></i>
      <strong>macOS (Intel)</strong>
    </a>
    <a href="https://github.com/maize-genetics/tassel/releases/download/v5.2.98/TASSEL.5.Installer-linux-x64-5.2.98_26DT.tar.gz" class="feature-card">
      <i class="fa fa-linux fa-2x"></i>
      <strong>Linux/Unix</strong>
    </a>
    <a href="https://github.com/maize-genetics/tassel/releases/download/v5.2.98/TASSEL.5.Installer-win-x64-5.2.98_26DT.exe" class="feature-card">
      <i class="fa fa-windows fa-2x"></i>
      <strong>Windows (64-bit)</strong>
    </a>
    <a href="https://github.com/maize-genetics/tassel/releases/download/v5.2.98/tassel-5-standalone-v5.2.98.tar.gz" class="feature-card">
      <i class="fa fa-terminal fa-2x"></i>
      <strong>Standalone</strong>
    </a>
  </div>
</div>

